body {
    font-family: helvetica, arial, sans-serif;
   }
h1 {
    color:#3a241d;
    text-align: center;
  }
 
.contenedor-componente  {
    position: relative;
    display: flex;
}

.componente {
    position: relative;
    z-index: 3;
    width:100px;
}

.cielo {
    height: 80%;
    width: 60%;
    background: #9ce0f3;
    border-radius: 1rem;
    position: absolute;
    bottom: 0.5%;
    left: 20%;
    opacity: 0.5;
    z-index: -2;
}

.suelo {
    width: 60%;
    height: 45%;
    background: #9e9d4a;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 1%;
    left: 20%;
    opacity: 0.7;
    z-index: -1;
}
